/*----------------------------------------------------------------------------*/
/* Josué Badilla Paredes - 2024 */

/*
COLORS:
-Black: #000000
-Green: #2ecc71
-Red:   #d23535
-Gray:  #c2bdbd
*/

/*----------------------------------------------------------------------------*/
body {
  background-color: #000000;
  width: 800px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 5px solid transparent;
}

/*----------------------------------------------------------------------------*/
section_container {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

/*----------------------------------------------------------------------------*/
/* Section Base Class */
.section {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  gap: 20px;
  padding: 10px;
  margin-bottom: 24px;  /* Space between sections */
}

/*----------------------------------------------------------------------------*/
#image_gallery {
  display: flex;
  flex-direction: row;
}

/*----------------------------------------------------------------------------*/
@keyframes main_header_animation {
  0% { color: #d23535; }
  50% { color: #000000; }
  100% { color: #d23535; }
}

/*----------------------------------------------------------------------------*/
/* HEADERS */

main_header {
  color: #d23535;
  font-size: 72px;
  animation: main_header_animation 1s infinite;
}

/*----------------------------------------------------------------------------*/
header_1 {
  font-size: 32px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
header_2 {
  font-size: 24px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
/* ---Paragraph 1--- */
p1 {
  color: #2ecc71;
  font-size: 16px;
}

/*----------------------------------------------------------------------------*/
/* Links */

/* Anchor (a) label:*/
a {
  font-size: 16px;
  color: #2ecc71;
}

/*----------------------------------------------------------------------------*/
/* ---Footer--- */
foot {
  font-size: 16px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
/* GAME */

#game_1 {
  width: 400px;
  height: 300px;
  border: solid red;
}

#playable_character {
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 150px;
  right: 0px;
}

#block {
  width: 20px;
  height: 20px;
  background-color: white;
  position: relative;
  top: 150px;
  left: 380px;
  animation: move_block 1s infinite linear;
}

.animate {
  animation: jump 500ms;
}

@keyframes move_block {
  0% { left: 380px; }
  100% { left: -40px; }
}

@keyframes jump {
  0% { top: 150px; }
  30% { top:100px; }
  70% { top:100px; }
  100% { top: 150px; }
}

/*----------------------------------------------------------------------------*/
