/*----------------------------------------------------------------------------*/
/*Josué Badilla Paredes - 2024*/

/*
COLORS:
-Black: #000000
-Green: #2ecc71
-Red:   #d23535
-Gray:  #c2bdbd
*/

/*----------------------------------------------------------------------------*/
body {
  background-color: #000000;
  width: 800px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 5px solid transparent;
}

/*----------------------------------------------------------------------------*/
section_container {
  /*
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;*/

  display: flex;
  flex-direction: column; /* Apila las secciones verticalmente */
  height: 100%; /* O una altura específica */
  overflow: auto; /* Maneja el desbordamiento */
}

/*----------------------------------------------------------------------------*/
/* Section Base Class */
.section {
  padding: 10px;
  margin-bottom: 24px;  /* Space between sections */
}

/*----------------------------------------------------------------------------*/
@keyframes main_header_animation {
  0% { color: #d23535; }
  50% { color: #000000; }
  100% { color: #d23535; }
}

/*----------------------------------------------------------------------------*/
/* HEADERS */

main_header {
  color: #d23535;
  font-size: 72px;
  animation: main_header_animation 1s infinite;
}

/*----------------------------------------------------------------------------*/
header_1 {
  font-size: 32px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
header_2 {
  font-size: 24px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
/* ---Paragraph 1--- */
p1 {
  color: #2ecc71;
  font-size: 16px;
}

/*----------------------------------------------------------------------------*/
/* Links */

/* Anchor (a) label:*/
a {
  font-size: 16px;
  color: #2ecc71;
}

/*----------------------------------------------------------------------------*/
/* ---Footer--- */
foot {
  font-size: 16px;
  color: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
